HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
timeseries-vue/node_modules/*
timeseries-vue/dist/*
timeseries-vue/.env
timeseries-vue/.env.local
timeseries-vue/.env.development.local
timeseries-vue/.env.test.local
timeseries-vue/.env.production.local
timeseries-vue/.env.local
timeseries-vue/.env.development
timeseries-vue/.env.test
timeseries-vue/.env.production
timeseries-vue/.vscode/*
